<h1>Trip Details Page (after 2nd API call)</h1>

<!-- <div class="row">
	<div class="col-lg-6">
		<img id="poster" src="<%#=@poster %>">
	</div>
	<div class="col-lg-6">
		<ul class="white">

			Description: <%#=@description%> <br></br>
			Driving Directions: <%#=@drivingDirection%> <br></br>
			Important Information: <%#=@importantInformation%> <br></br>
			Facilities Description: <%#=@facilitiesDescription%> <br></br>
			Recreation Description: <%#=@recreationDescription%> <br></br>
			More Information: <%#=@informationLink%> <br></br>
			Contact: <%#=@actors%> <%#=@number%> 
			<br></br>
		</ul>
	</div>
</div>
 -->