
	<div>
		<strong> Select the specific campground:</strong>
	</div>

 <%= @park_name %>

 <% @campgrounds.each do |campground| %>
	<div><%= link_to campground[:name], new_trip_path(campground) %></div>
 <%	end %>

