<h1>Trip Results Page - after 1st API call</h1>

 <%= @park_name %>

<!-- <ul>
	<%# if @trips %>
		<%# @trips.each do |trip|%>
			<div class="col-lg-4 col-md-4 col-sm-4">
			  <a href='/info/<%#=trip["parkId"]%>'>
			  	<div class="poster">
						<img src="<%#= trip['Poster'] %>" class="img-responsive">
						<li>
							<%#=trip["Title"]%> (<%#=trip["Year"]%>)
						</li>
					</div>
				</a>
			</div>
		<%# end %>
	<%# else %>
	<div class="search_form">
		<p class="white"><I>Sorry, the film ferret came back empty handed. Try again!</I></p> 
		<br>
		<form method="get" action="/results">
			<input class="search_box" type="text" name="trip">
			<br>
			<input class="btn" type="submit">
		</form>
	</div>
	<%# end %>
</ul> -->