

	<div>
		<strong>Enter the national or state park where you're headed:</strong>
				<form method="get" action="/trips/results">
				<br>
				<input class="rounded" search_box" type="text" placeholder="ex: Yosemite" name="park_name" >
			<br>		
			<br>
				<input class="rounded" "btn btn-primary btn-sm" type="submit" >

	</div>
