<!-- instead of having user/show, 
if not signed in, show index page with signin/create account
if signed in, display all of a users's trips here -->

<h1>Home Index</h1>

<%= link_to 'Sign In', signin_path %><br>
<%= link_to 'Create Account', signup_path %><br>
<%= link_to 'Sign Out', signout_path, method: "delete" %><br>
<%= link_to 'Create Trip', trips_search_path %><br>




