/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color: #9DBCBC !important;
	margin-top: 40px !important;

}

.container {
	margin-top: 30px;
}
.navbar.navbar-default {
	background-color: #bf5a16;
	height: 80px;
}

.navbar-brand {
	background-color: #bf5a16;
	font-family: 'Lobster', cursive;
	font-size: 90px !important;
	margin-top: 10px;
}

li {
 list-style-type:none;
 margin-bottom:15px;
}

ul {
    list-style:none;
    padding-left:0;
}​

.results {
	margin-top:100px;
}

.rounded {
	border-radius: 10px;
}

#show_page_header {
	margin-top: 0px;
}

.guestlist {
	margin-top:20px;
}

.guest_add_field {
	margin-bottom: 4px;
}

.camping-image{
	width:100%;
	border-radius: 30px;
	border:white solid 4px;	
}

.signup {
	margin-bottom: 10px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}